html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
        background-color:#2E2E2E;
    }
p {
margin:5px;
}
.settings {
background-image:url(../shared/icons/fam/folder_wrench.png);
}
.nav {
background-image:url(../shared/icons/fam/folder_go.png);
}

.title{
	font-family:QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-shadow: white 0px 1px 0px;
	color: #273437;
	
}

#main{
	/*margin-left:auto;
	margin-right:auto;*/
	width: 100%;
	height:100%;
	background-color:white;
	margin-bottom:29px;
	overflow:auto;
}

#menu-top{
	width:100%;
	height:40px;
	background-color:#eeeeee;
	position: relative;
	background-image:url(media/shared/grayTop.png);
	background-repeat: repeat-x;
	padding-top:5px !important;
}

#footer{
	width:100%;
	height:29px;
	background-color:#eeeeee;
	position: absolute;
	background-image:url(media/shared/grayBottom.png);
	background-repeat: repeat-x;
	bottom:0px;
	text-align: center;
	font-family:QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-shadow: white 0px 1px 0px;
	color: #2E2E2E;
	padding-top:15px;
	z-index: 1000;

}

#menu-left{
	width:140px;
	float:left;
	height:100%;
	padding:5px;
	padding-top:10px !important;
	position:absolute;
	left:0px;
}

#main-container{
	position:relative;
}

#content{
	float:left;
	width:1110px;
	height:100%;
	padding:10px;
	margin-left:150px;
	overflow:auto;
}

#logout{
	padding:5px;
	height:30px;
	position:absolute;
	right:10px;
}

#title-text{
	margin-left:20px;
	padding:5px;
	height:30px;
}

.graph{
	margin:10px;
	float: left;
}

#top{
	margin-right:20px;
	font-family: Helvetica, arial, sans-serif;
}

#top span
	{color:#2c3136; text-shadow:#d6dadd 0 1px 0;font-size:17px; position:absolute; display:block;}
#top a
	{float:right; height:25px; background:url("media/admin/sprite.gif"); background-position:0 -227px; text-align:center;
	text-shadow:#D4DBE0 0 1px 0; padding:3px 15px 0 15px; font-weight:bold; color:#3C434A; cursor:pointer; display:block; position:relative;
	text-decoration:none; }
#top a .left
	{background-image:url("media/admin/sprite.gif"); position:absolute; left:-3px; height:27px; width:3px; top:0;
	background-position:left -142px; }
#top a .right
	{background-image:url("media/admin/sprite.gif"); position:absolute; right:-3px; height:27px; width:3px; top:0;
	background-position:right -142px;}

#top a:hover
	{background-position:0 -255px;}
#top a:hover .left
	{background-position:left -170px;}
#top a:hover .right
	{background-position:right -170px;}

#top a:active
	{background-position:0 -283px;}
#top a:active .left
	{background-position:left -198px;}
#top a:active .right
	{background-position:right -198px;}
	
.no-border{
	border:1px solid #CCCCCC;
	font-size:16px;
	color:#777777;
}

.borde-gris{
	border:1px solid #CCCCCC;
	padding:10px;
	height:auto;
	margin-top:10px;
}


#periodo-reporte{
	text-align: right;
	width: 100%;
}

#configuracion-reportes{
	border: 1px solid #CCCCCC;
	padding:10px;
}

.wrapper{
	/*padding:10px;*/
	height:auto;
	/*width:auto;*/
	float:left;
	border:1px solid #CCCCCC;
	margin-top:10px;
	margin-right:10px;
	overflow:hidden;
}

.title-graph{
	height:20px;
	/*width:auto;*/
	text-align: center;
	background-color:#666666;
	color:white;
}
