html,body,div,h1,h2,h3,h4,h5,h6,p,pre,abbr,acronym,blockquote,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet {
border:0;
margin:0;
padding:0;
}

body {
direction:ltr;
font-size:62.5%;
font-family:arial,sans-serif;
color:#000;
/* background:#fff; */
padding:1.3em 1.5em 1.5em;
}

tr:hover{
/*	background-color: #DBDBDB; */
}

th{
	padding-left: 5px;
}

td{
	padding-left: 5px;
}

a {
color:#11c;
}

a:active {
color:#c11;
}

a:visited {
color:#551a8b;
}

table {
border-collapse:collapse;
border-spacing:0;
empty-cells:show;
border-width:0;
}

ol {
margin:0 0 1em 2.3em;
}

p,pre {
margin:0 0 1em;
}

li {
margin:0 0 .5em;
}

blockquote {
margin:0 2em 1em;
}

h1 {
font-size:1.3em;
margin:0 0 .7em;
}

h2,h3 {
font-size:1.1em;
margin:0 0 .9em;
}

h4,h5,h6,table {
font-size:1em;
margin:0 0 1em;
}

sup,sub {
font-size:.7em;
}

input,select,textarea,option {
font-family:inherit;
font-size:inherit;
}

.g-doc,.g-doc-800,.g-doc-1024 {
font-size:1.3em;
}

.g-doc {
width:100%;
text-align:left;
}

.g-doc-1024 {
width:71.313em;
min-width:950px;
text-align:left;
margin:0 auto;
}

.g-doc-800 {
width:56.3em;
min-width:750px;
text-align:left;
margin:0 auto;
}

.g-section:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.g-unit .g-section:after {
clear:none;
}

.g-unit .g-section {
width:100%;
overflow:hidden;
}

.g-section,.g-unit {
zoom:1;
}

.g-split .g-unit {
text-align:right;
}

.g-tpl-50 .g-unit,.g-unit .g-tpl-50 .g-unit,.g-unit .g-unit .g-tpl-50 .g-unit,.g-unit .g-unit .g-unit .g-tpl-50 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-50 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 50px;
}

.g-tpl-50 .g-first,.g-unit .g-tpl-50 .g-first,.g-unit .g-unit .g-tpl-50 .g-first,.g-unit .g-unit .g-unit .g-tpl-50 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-50 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50 .g-first {
display:block;
width:50px;
float:left;
margin:0;
}

.g-tpl-50-alt .g-unit,.g-unit .g-tpl-50-alt .g-unit,.g-unit .g-unit .g-tpl-50-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 50px 0 0;
}

.g-tpl-50-alt .g-first,.g-unit .g-tpl-50-alt .g-first,.g-unit .g-unit .g-tpl-50-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-50-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-alt .g-first {
display:block;
width:50px;
float:right;
margin:0;
}

.g-tpl-75 .g-unit,.g-unit .g-tpl-75 .g-unit,.g-unit .g-unit .g-tpl-75 .g-unit,.g-unit .g-unit .g-unit .g-tpl-75 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-75 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 75px;
}

.g-tpl-75 .g-first,.g-unit .g-tpl-75 .g-first,.g-unit .g-unit .g-tpl-75 .g-first,.g-unit .g-unit .g-unit .g-tpl-75 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-75 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75 .g-first {
display:block;
width:75px;
float:left;
margin:0;
}

.g-tpl-75-alt .g-unit,.g-unit .g-tpl-75-alt .g-unit,.g-unit .g-unit .g-tpl-75-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 75px 0 0;
}

.g-tpl-75-alt .g-first,.g-unit .g-tpl-75-alt .g-first,.g-unit .g-unit .g-tpl-75-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-75-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-alt .g-first {
display:block;
width:75px;
float:right;
margin:0;
}

.g-tpl-130 .g-unit,.g-unit .g-tpl-130 .g-unit,.g-unit .g-unit .g-tpl-130 .g-unit,.g-unit .g-unit .g-unit .g-tpl-130 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-130 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-130 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 130px;
}

.g-tpl-130 .g-first,.g-unit .g-tpl-130 .g-first,.g-unit .g-unit .g-tpl-130 .g-first,.g-unit .g-unit .g-unit .g-tpl-130 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-130 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-130 .g-first {
display:block;
width:130px;
float:left;
margin:0;
}

.g-tpl-130-alt .g-unit,.g-unit .g-tpl-130-alt .g-unit,.g-unit .g-unit .g-tpl-130-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-130-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-130-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-130-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 130px 0 0;
}

.g-tpl-130-alt .g-first,.g-unit .g-tpl-130-alt .g-first,.g-unit .g-unit .g-tpl-130-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-130-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-130-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-130-alt .g-first {
display:block;
width:130px;
float:right;
margin:0;
}

.g-tpl-160 .g-unit,.g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-160 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-160 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 160px;
}

.g-tpl-160 .g-first,.g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-160 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-160 .g-first {
display:block;
width:160px;
float:left;
margin:0;
}

.g-tpl-160-alt .g-unit,.g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 160px 0 0;
}

.g-tpl-160-alt .g-first,.g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-160-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-160-alt .g-first {
display:block;
width:160px;
float:right;
margin:0;
}

.g-tpl-180 .g-unit,.g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-180 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 180px;
}

.g-tpl-180 .g-first,.g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-180 .g-first {
display:block;
width:180px;
float:left;
margin:0;
}

.g-tpl-180-alt .g-unit,.g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 180px 0 0;
}

.g-tpl-180-alt .g-first,.g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-180-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-180-alt .g-first {
display:block;
width:180px;
float:right;
margin:0;
}

.g-tpl-200 .g-unit,.g-unit .g-tpl-200 .g-unit,.g-unit .g-unit .g-tpl-200 .g-unit,.g-unit .g-unit .g-unit .g-tpl-200 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-200 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-200 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 200px;
}

.g-tpl-200 .g-first,.g-unit .g-tpl-200 .g-first,.g-unit .g-unit .g-tpl-200 .g-first,.g-unit .g-unit .g-unit .g-tpl-200 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-200 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-200 .g-first {
display:block;
width:200px;
float:left;
margin:0;
}

.g-tpl-200-alt .g-unit,.g-unit .g-tpl-200-alt .g-unit,.g-unit .g-unit .g-tpl-200-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-200-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-200-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-200-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 200px 0 0;
}

.g-tpl-200-alt .g-first,.g-unit .g-tpl-200-alt .g-first,.g-unit .g-unit .g-tpl-200-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-200-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-200-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-200-alt .g-first {
display:block;
width:200px;
float:right;
margin:0;
}

.g-tpl-225 .g-unit,.g-unit .g-tpl-225 .g-unit,.g-unit .g-unit .g-tpl-225 .g-unit,.g-unit .g-unit .g-unit .g-tpl-225 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-225 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-225 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 225px;
}

.g-tpl-225 .g-first,.g-unit .g-tpl-225 .g-first,.g-unit .g-unit .g-tpl-225 .g-first,.g-unit .g-unit .g-unit .g-tpl-225 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-225 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-225 .g-first {
display:block;
width:225px;
float:left;
margin:0;
}

.g-tpl-225-alt .g-unit,.g-unit .g-tpl-225-alt .g-unit,.g-unit .g-unit .g-tpl-225-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-225-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-225-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-225-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 225px 0 0;
}

.g-tpl-225-alt .g-first,.g-unit .g-tpl-225-alt .g-first,.g-unit .g-unit .g-tpl-225-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-225-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-225-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-225-alt .g-first {
display:block;
width:225px;
float:right;
margin:0;
}

.g-tpl-250 .g-unit,.g-unit .g-tpl-250 .g-unit,.g-unit .g-unit .g-tpl-250 .g-unit,.g-unit .g-unit .g-unit .g-tpl-250 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-250 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-250 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 250px;
}

.g-tpl-250 .g-first,.g-unit .g-tpl-250 .g-first,.g-unit .g-unit .g-tpl-250 .g-first,.g-unit .g-unit .g-unit .g-tpl-250 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-250 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-250 .g-first {
display:block;
width:250px;
float:left;
margin:0;
}

.g-tpl-250-alt .g-unit,.g-unit .g-tpl-250-alt .g-unit,.g-unit .g-unit .g-tpl-250-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-250-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-250-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-250-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 250px 0 0;
}

.g-tpl-250-alt .g-first,.g-unit .g-tpl-250-alt .g-first,.g-unit .g-unit .g-tpl-250-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-250-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-250-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-250-alt .g-first {
display:block;
width:250px;
float:right;
margin:0;
}

.g-tpl-300 .g-unit,.g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-300 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-300 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 300px;
}

.g-tpl-300 .g-first,.g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-300 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-300 .g-first {
display:block;
width:300px;
float:left;
margin:0;
}

.g-tpl-300-alt .g-unit,.g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 300px 0 0;
}

.g-tpl-300-alt .g-first,.g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-300-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-300-alt .g-first {
display:block;
width:300px;
float:right;
margin:0;
}

.g-tpl-320 .g-unit,.g-unit .g-tpl-320 .g-unit,.g-unit .g-unit .g-tpl-320 .g-unit,.g-unit .g-unit .g-unit .g-tpl-320 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-320 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-320 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 320px;
}

.g-tpl-320 .g-first,.g-unit .g-tpl-320 .g-first,.g-unit .g-unit .g-tpl-320 .g-first,.g-unit .g-unit .g-unit .g-tpl-320 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-320 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-320 .g-first {
display:block;
width:320px;
float:left;
margin:0;
}

.g-tpl-320-alt .g-unit,.g-unit .g-tpl-320-alt .g-unit,.g-unit .g-unit .g-tpl-320-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-320-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-320-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-320-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 320px 0 0;
}

.g-tpl-320-alt .g-first,.g-unit .g-tpl-320-alt .g-first,.g-unit .g-unit .g-tpl-320-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-320-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-320-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-320-alt .g-first {
display:block;
width:320px;
float:right;
margin:0;
}

.g-tpl-350 .g-unit,.g-unit .g-tpl-350 .g-unit,.g-unit .g-unit .g-tpl-350 .g-unit,.g-unit .g-unit .g-unit .g-tpl-350 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-350 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-350 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 350px;
}

.g-tpl-350 .g-first,.g-unit .g-tpl-350 .g-first,.g-unit .g-unit .g-tpl-350 .g-first,.g-unit .g-unit .g-unit .g-tpl-350 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-350 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-350 .g-first {
display:block;
width:350px;
float:left;
margin:0;
}

.g-tpl-350-alt .g-unit,.g-unit .g-tpl-350-alt .g-unit,.g-unit .g-unit .g-tpl-350-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-350-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-350-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-350-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 350px 0 0;
}

.g-tpl-350-alt .g-first,.g-unit .g-tpl-350-alt .g-first,.g-unit .g-unit .g-tpl-350-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-350-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-350-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-350-alt .g-first {
display:block;
width:350px;
float:right;
margin:0;
}

.g-tpl-400 .g-unit,.g-unit .g-tpl-400 .g-unit,.g-unit .g-unit .g-tpl-400 .g-unit,.g-unit .g-unit .g-unit .g-tpl-400 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-400 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-400 .g-unit {
display:block;
width:auto;
float:none;
margin:0 0 0 400px;
}

.g-tpl-400 .g-first,.g-unit .g-tpl-400 .g-first,.g-unit .g-unit .g-tpl-400 .g-first,.g-unit .g-unit .g-unit .g-tpl-400 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-400 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-400 .g-first {
display:block;
width:400px;
float:left;
margin:0;
}

.g-tpl-400-alt .g-unit,.g-unit .g-tpl-400-alt .g-unit,.g-unit .g-unit .g-tpl-400-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-400-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-400-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-400-alt .g-unit {
display:block;
width:auto;
float:none;
margin:0 400px 0 0;
}

.g-tpl-400-alt .g-first,.g-unit .g-tpl-400-alt .g-first,.g-unit .g-unit .g-tpl-400-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-400-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-400-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-400-alt .g-first {
display:block;
width:400px;
float:right;
margin:0;
}

.g-tpl-nest .g-unit,.g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
float:left;
width:auto;
display:inline;
margin:0;
}

.g-tpl-nest-alt .g-unit,.g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit {
float:right;
width:auto;
display:inline;
margin:0;
}

.header {
position:relative;
margin:0 0 .6em -.2em;
}

.header img {
float:left;
}

.standard .header h1 {
float:left;
color:#333;
font-weight:400;
font-size:1.85em;
margin:.62em 0 0 .5em;
}

.header span {
float:right;
/* margin:.4em 0 0; */
}

.standard .header span {
margin:1.2em 0 0;
}

.header span ul {
list-style:none outside;
margin:.4em 0 0;
}

.header span ul li {
display:inline;
margin:0 0 0 .4em;
}

.breadcrumbs {
font-size:.85em;
}

.nav ul {
list-style:none outside;
margin:0 1em 0 0;
}

.nav ul li {
font-weight:700;
margin:0 0 1em;
}

.nav ul li ul {
margin:1em 0 0 1em;
}

.nav ul li a {
font-weight:400;
}

.footer {
text-align:center;
color:#777;
margin:3em 0 0;
}

.standard .footer {
border-top:1px solid #ccc;
margin:1.3em 0 0;
padding:.5em 0 0;
}

ul,dd {
margin:0 0 1em 2em;
}

th,caption,.g-split .g-first,.standard .footer.side {
text-align:left;
}

.g-tpl-25-75 .g-unit,.g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit,.g-tpl-25-75-alt .g-first,.g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first {
width:74.999%;
float:right;
display:inline;
margin:0;
}

.g-tpl-25-75 .g-first,.g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-25-75 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-25-75 .g-first,.g-tpl-25-75-alt .g-unit,.g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit {
width:24.999%;
float:left;
display:inline;
margin:0;
}

.g-tpl-75-25 .g-unit,.g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit,.g-tpl-75-25-alt .g-first,.g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first {
width:24.999%;
float:right;
display:inline;
margin:0;
}

.g-tpl-75-25 .g-first,.g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-25 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-25 .g-first,.g-tpl-75-25-alt .g-unit,.g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit {
width:74.999%;
float:left;
display:inline;
margin:0;
}

.g-tpl-33-67 .g-unit,.g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit,.g-tpl-33-67-alt .g-first,.g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first {
width:66.999%;
float:right;
display:inline;
margin:0;
}

.g-tpl-33-67 .g-first,.g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-33-67 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-33-67 .g-first,.g-tpl-33-67-alt .g-unit,.g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit {
width:32.999%;
float:left;
display:inline;
margin:0;
}

.g-tpl-67-33 .g-unit,.g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit,.g-tpl-67-33-alt .g-first,.g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first {
width:32.999%;
float:right;
display:inline;
margin:0;
}

.g-tpl-67-33 .g-first,.g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-67-33 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-67-33 .g-first,.g-tpl-67-33-alt .g-unit,.g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit {
width:66.999%;
float:left;
display:inline;
margin:0;
}

.g-tpl-50-50 .g-unit,.g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit,.g-tpl-50-50-alt .g-first,.g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first {
width:49.999%;
float:right;
display:inline;
margin:0;
}

.g-tpl-50-50 .g-first,.g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-50 .g-first,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-50 .g-first,.g-tpl-50-50-alt .g-unit,.g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit,.g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit {
width:49.999%;
float:left;
display:inline;
margin:0;
}




body{
  background-image: url('media/ga2-orange-bar.gif');
  background-repeat:repeat-x;
  background-position:0 58px;
  color: #666;
}
a{
  color: #0083c8;
}
h1,h2,h4,h5,a:hover{
  color: #f70;
}
h2{
  border-bottom: 1px solid #f70;
}
h1,h2{
  font-weight: normal;
}
h3,h4,h5{
  font-size: 1em;
}
h1{
  font-size: 2em;
  margin: 0 0 10px;
}
h2{
  font-size: 1.3em;
  margin: 20px 0 5px;
}
h3{
  color: #666;
  margin:10px 0;
}
.ga-language-form{
  height: 22px;
  margin-right:5px;
  position:relative;
  top:1px;
}
#customSearch,
#custom-search,
#languageSelector{
  float:right;
}
/*TOP NAV*/
.ga-container-nav-top{
  position:relative;
  top:5px;
  height:43px;
  clear:both;
}
.ga-container-nav-top ul {
  margin:0;
  padding:0;
  list-style:none;
}
.ga-container-nav-top ul li,
.ga-container-nav-top ul li.last,
.ga-container-nav-top ul li:hover.last {
  display:inline-block;
  float:left;
  font-size:13px;
  background:url('media/ga2-orange-bar-divider.gif') top left no-repeat;
  height:33px;
}
.ga-container-nav-top ul li:hover,
.ga-container-nav-top ul li.hover {
  background:url('media/ga2-orange-bar-hover.gif') top left no-repeat;
}
.ga-container-nav-top ul li a {
  padding:10px 10px 2px 15px;
  color:#fff;
  display:inline-block;
  width:auto;
  text-decoration:none;
  font-weight:normal;
  outline:none;
}
.ga-container-nav-top ul li ul {
  -moz-box-shadow: 0 3px 7px #ccc;
  -webkit-box-shadow: 0 3px 7px #ccc;
  box-shadow: 0 3px 7px #ccc;
  background:#fff;
  display:none;
  position:absolute;
  z-index:1;
  border:1px solid #dfdfdf;
  border-top-color:#ce6000;
}
.ga-container-nav-top ul li ul li {
  width:100%;
  height:auto;
  background:#fff;
  margin:0;
  padding:0;
  overflow:hidden;
}
.ga-container-nav-top ul li ul li a {
  width:100%;
  display:block;
  height:auto;
  color:#5c98da;
  font-weight:normal;
  padding:11px 15px 10px 15px !important;
  background-color:#fff;
  background-position:3px 3px !important;
  background-repeat:no-repeat;
  outline:none;
}
.ga-container-nav-top ul li ul li a:hover {
  background-color:#f70;
  color:#fff;
}
.ga-container-nav-top{
  width:100%;
  position:relative;
}
.ga-container-nav-top ul li{
  margin:0
}
.ga-toolbar ul li ul li ul{
  margin-top:77px;
  z-index:10;
}
.ga-container-nav-top ul.case_study{
  display:none;
}
/*END TOP NAV*/
/*SIDE NAV*/
.ga-container-nav-side a{
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  display:block;
  padding:8px 0;
}
.ga-container-nav-side-on{
  color: #f70;
  font-weight: bold;
}
.ga-container-nav-side ul li{
  padding:0;
  margin:0;
}
.ga-container-nav-side ul li ul{
  margin-top:0;
  padding-top:0;
}
.ga-container-nav-side ul.case_study li a{
  border:0;
}
ul.case_study li{
  padding-left:30px;
  height:20px;
}
ul.case_study{
  margin-top:0;
  padding-top:0;
  position:relative;
  top:-10px;
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
}
.ga-container-nav-side .ga-side-nav-item-on{
  color: #f70;
  font-weight: bold;
}
.ga-container-nav-side ul li.product,
.ga-container-nav-side ul li.support,
.ga-container-nav-side ul li.education,
.ga-container-nav-side ul li.partners,
.ga-container-nav-side ul li.last,
.ga-container-nav-side ul li.home,
.ga-container-nav-side ul li.blog,
.ga-container-nav-side li.ga-side-nav-off{
  display:none;
}
/* END SIDE NAV */
/*PRODUCT */
.ga-feature-box{
  width: 270px;
  padding-right: 25px;
  float: left;
}
/*END PRODUCT */
/* FEATURES */
.features_img{
  border-bottom:1px solid #ccc;
  margin-top:5px;
}
/* END FEATURES */
/* TOUR */
.ga-tour-waiting{
  margin:255px 0 0 300px;
  position:absolute;
}
.ga-tour-iframe{
  border:0;
  height:530px;
  width:800px;
  position:relative;
  overflow:hidden !important;
}
/* END TOUR */
/* PARTNERS */
.remove-element{
  display:none;
}
/* END PARTNERS */
/* DISCOVER_ANALYTICS */
.ga-da-crossout{
  text-decoration:line-through;
  color:#CCC;
}
.ga-da-uncrossout-text{
  color:#666;
}
.ga-da-uncrossout-link{
  color:#0083c8;
  text-decoration:underline;
}
div#ga-da-container p{
  width:560px;
  margin:0;
}
div#ga-da-container input{
  float:left;
  margin-right:5px;
}
div#ga-da-container br{
  clear:both;
}
/* END DISCOVER_ANALYTICS */
/* CALLOUT-LOGIN BOX */
div#ga-cob{
  float:right;
  width:200px;
  margin:0 0 10px 10px;
}
/* END CALLOUT-LOGIN BOX */
/* CONSULTANTS_CASE_STUDY_TEMPLATE */
#ccst_container div{
  height:180px;
}
#ccst_container div div{
  height:100%;
  float:left;
  padding-left:10px;
  border-bottom:1px solid #ccc;
}
#ccst_container div.section div.left{
  background-color:#f4f4f4;
  padding-right:10px;
  width:200px;
}
#ccst_container div.section div.right{
  width:335px;
}
#ccst_container{
  margin-bottom:20px;
  border:1px solid #ccc;
  border-bottom:0;
  width:565px;
}
/* END CONSULTANTS_CASE_STUDY_TEMPLATE */
/* CASE_STUDY_* */
.quoteright,.quoteleft,.quotecenter{
  font-size: 1.2em;
  line-height: 20px;
  color: #f70;
  text-align: center;
  margin-bottom:20px;
}
.quotecenter {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.quoteright,.quoteleft {
  width: 160px;
  margin: 12px;
}
.quoteright {
  float: right;
}
.quoteleft {
  float: left;
}
.quoteright .who, .quoteleft .who{
  margin-top: 10px;
  font-size: .7em;
  line-height: 11px;
  color: #666;
}
#carolina-rustica-video{
  float:left;
  margin:0 15px 15px 0;
}
/* END CASE_STUDY_* */
/* INDEX - HOMEPAGE */
.ga-container-home-intro,
.ga-container-home-access,
.ga-container-home-tour,
.ga-container-home-blog,
.ga-container-home-promo{
  float: left;
}
.ga-container-home-tour,
.ga-container-home-promo{
  width:225px;
  margin:20px 25px 0 0;
}
.ga-container-home-promo h4,
.ga-container-home-blog h4,
.ga-container-home-tour h4{
  margin:5px 0 10px;
  font-weight:normal;
}
.ga-container-home-blog{
  width:225px;
  margin:20px 25px 0 0;
  padding:0 10px 10px 10px;
}
.ga-container-home-blog p{
  padding-left:25px;
  background-repeat: no-repeat;
  background-position:left top;
  margin-bottom:20px;
}
.ga-container-home-blog p.ga-news-nonen{
  padding-left:0;
}
#ga-news-feed{
  background-image:url('/images/feed-icon.gif');
}
/*
#ga-news-story{
  background-image:url('http://www.google.com/images/icons/lightbulb-16.gif');
}
*/

#ga-news-report{
  background-image:url('/analytics/images/forrester-report-sm.png');
  margin-top:20px;
}
#ga-news-gwo{
  background-image:url('/analytics/images/website_optimizer-16.gif');
}



.ga-container-home-promo{
  margin-right:0;
}
.promo-container{
  border:1px solid #ccc;
}
.ga-container-home-promo div div{
  min-height:200px;
  padding:10px;
  display:none;
}
.ga-container-home-promo div div:first-child{
  display:block;
}
.ga-container-home-promo div div img{
  margin:10px auto;
  display:block;
}
.ga-container-home-promo ul.promo-number{
  border:1px solid #ccc;
  height:22px;
  border-top:0;
  list-style:none;
  padding:0;
  margin:0;
}
.ga-container-home-promo ul.promo-number li{
  border-right:1px solid #ccc;
  float:left;
  text-align:center;
}

#ptb-1,
#ptb-2,
#ptb-3,
#ptb-4{
  text-decoration:none;
  padding:3px 10px;
  display:block;
  color:#0083c8;
}

#ptb-1,
#ptb-1:hover,
#ptb-2:hover,
#ptb-3:hover,
#ptb-4:hover{
  color:#fff;
  background-color:#0083c8;
  height:16px;
}

.promo-last{
  clear:both;
  display:block;
}
.ga-container-home-partner h5{
  font-weight:normal;
  margin-top:5px;
}
.ga-container-home-partner img{
  border:0;
  vertical-align:middle;
  margin-right:32px;
}
.ga-container-home-partner a img.last-customer{
  margin:0;
}
.ga-doubleclick-iframe{
  height:1px;
  width:1px;
}
/* END INDEX - HOMEPAGE */
.footer{
  border-top: 1px solid #ccc;
  padding-top:10px;
}
.ga-clear{
  clear: both;
}
p.content{
  margin-top:5px;
}
.ga-icon-link{
  padding-left: 17px;
  background-image: url(/intl/en/analytics/images/icons/ga-icon-link.gif);
  background-repeat:no-repeat;
  background-position:0 3px;
}
.ga-error{
  background-color: #c00;
  padding:3px;
  color:#fff;
  font-weight:bold;
  text-align:center;
}
div.header{
  margin-bottom:20px;
}
ul li {
  margin:0;
  padding:0;
}
/*SCROLLER*/
.g-scroller-scroller {
  width:696px !important;
  height:137px;
  position:relative;
  background:#cdcdcd;
  margin-left:26px;
}
.g-scroller-scroller a {
  outline:none !important;
}
.g-scroller-viewport {
  height:135px;
  width:694px;
  position:absolute;
  background:url(//google.com/images/modules/scroller/bg_scroller.gif) repeat-x;
  overflow:scroll;
  margin:0;
  left:1px;
  top:1px;
}
.g-scroller-viewport ul {
  padding:0;
  position:absolute;
  margin:0;
  list-style:none;
}
.g-scroller-viewport ul li {
  float:left;
  margin:0;
  padding:0;
}
.slide{
  height:135px;
  width:232px;
}
.pad{
  background-repeat:no-repeat;
  padding:5px 10px 0 60px;
  background-position: 5px 5px;
  font-size:.9em;
}
.g-scroller-viewport div.slide:hover {
  background:url(//google.com/images/modules/scroller/bg_scroller_invert.gif) repeat-x;
}
.g-scroller-viewport div.selected,
.g-scroller-viewport div.selected:hover {
  background:#fff url(//google.com/images/modules/scroller/bg_selected.gif) no-repeat;
  border:1px solid #cdcdcd;
  border-width:0 1px;
  width:230px;
}
.g-scroller-controls a {
  display:block;
  width:26px;
  position:absolute;
  top:0;
  height:137px;
  cursor:pointer;
}
.g-scroller-previous {
  background:#e8e8e8 url(//google.com/images/modules/scroller/nav_left.gif) no-repeat;
  background-position:0 0;
  left:-26px;
}
.g-scroller-next {
  background:#e8e8e8 url(//google.com/images/modules/scroller/nav_right.gif) no-repeat;
  background-position:-124px 0;
  right:-26px;
}
.g-scroller-next:hover {
  background-position:-74px 0 !important;
}
.g-scroller-previous:hover {
  background-position:-50px 0 !important;
}
.g-scroller-next.disabled-next,
.g-scroller-next.disabled-next:hover {
  background-position:-24px 0 !important;
  cursor:default;
}
.g-scroller-previous.disabled-prev,
.g-scroller-previous.disabled-prev:hover {
  background-position:-100px 0 !important;
  cursor:default;
}
.g-scroller-slide.hidden {
  display:none;
}
#ga-slide1{
  background-image: url(/analytics/images/icons/ga-v2-advanced-segmentation.png);
}
#ga-slide2{
  background-image: url(/analytics/images/icons/ga-v2-customized-reports.png);
}
#ga-slide3{
  background-image: url(/analytics/images/icons/ga-v2-motion-charts.png);
}
#ga-slide4{
  background-image: url(/analytics/images/icons/ga-v2-adwords-integration.png);
}
#ga-slide5{
  background-image: url(/analytics/images/icons/ga-v2-ecommerce.png);
}
#ga-slide6{
  background-image: url(/analytics/images/icons/ga-v2-benchmarking.png);
}
#ga-slide7{
  background-image: url(/analytics/images/icons/ga-v2-geotargeting.png);
}
#ga-slide8{
  background-image: url(/analytics/images/icons/ga-v2-internal-site-search.png);
}
#ga-slide9{
  background-image: url(/analytics/images/icons/ga-v2-data-export-api.png);
}
#ga-slide10{
  background-image: url(/analytics/images/icons/ga-v2-data-export-api.png);
}
#ga-slide11{
  background-image: url(/analytics/images/icons/ga-v2-analytics-intelligence.png);
}
#ga-slide12{
  background-image: url(/analytics/images/icons/ga-v2-customized-reports.png);
}
#ga-slide13{
  background-image: url(/analytics/images/icons/ga-v2-goals.png);
}
#ga-slide14{
  background-image: url(/analytics/images/icons/ga-v2-mobile-tracking.png);
}
#ga-slide15{
  background-image: url(/analytics/images/icons/ga-v2-analysis-power-tools.png);
}
/*END SCROLLER*/
/*TOS*/
#tos_iframe{
  overflow:hidden !important;
  border:0;
}
 #tos_iframe,#cse{
  width:100%;
}
/*END TOS*/
/*SIGN-UP*/
#sign-up,
#sign-up-iframe{
  float:left;
  margin-top:10px;
  border:1px solid #ccc;
}

#sign-up{
  margin-right:10px;
  padding:15px;
  background-color:#e8eefa;
  width:40%;
  text-align:center;
}

#sign-up-iframe{
  width:50%;
  height:230px;
}

/*END SIGN-UP*/
.gsc-adBlock{
  display:none !important;
}

/*CONSULTANT CRITERIA*/
  ul#gacp-nav{
    margin:30px 0 0;
    padding:0;
  }

ul#gacp-nav li{
  list-style:none;
  display:inline;
  position:relative;
  margin:0 5px 0 0;
  padding:2px 5px;
  z-index: 2;
}

div.gacp-content{
  position:relative;
  border:1px solid #ccc;
  z-index: 1;
  top:2px;
  padding:0 10px 10px 10px;

}

#gacp-nav li{
  cursor:pointer;
}

.nav-gacp-on{
  background-color:#efefef;
  border:1px solid #ccc;
  border-bottom-color:#efefef;
}

.nav-gacp-off{
  background-color:#fff;
  border:1px solid #ccc;
}

.gacp-content-on{
  display:block;
}

.gacp-content-off{
  display:none;
}

/*END CONSULTANT CRITERIA*/
