
.Autorizaciones-row {
    height:40px;
}
.Autorizaciones-Total {
    font-weight:bold;
    position:relative;
    float:right;
    margin-right:40px;
}

.Autorizaciones-margin {
    margin-right:10px;
    margin-left:10px;
}