.boton{
	width: 58px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEF0), to(#D4D4D9));
	border-color: #1D1D1E;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;

	height: 30px;
	padding: 7px;
	width: 80px;

}

.boton:active{
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDE0), to(#E3E3E8));
}



.Mostrador-ThankYou {
	font-size: 30px;
	margin-left: 35%;
	width: 100%;
}

.Mostrador-ThankYou tr{
	margin: 10px;
}

.Mostrador-ThankYou td{
	padding: 10px;
}

.Mostrador-input {
    background-color:"#7f7f7f !important";
}
