.ApplicationProveedores-Background{
	background-image:url(media/g3.png);		
}

.formAgregarProveedor{
	background-image:url(media/g3.png);
	height: 100%;
}
.formAgregarProveedor-body{
	padding: 10px;
}

 .formAgregarProveedor .x-form-fieldset-title{
 
	color: white;
	text-shadow: black 0px 1px 1px;
 }
 
  .formAgregarProveedor .x-form-fieldset-instructions{
 
	color: white;
	text-shadow: black 0px 1px 1px;
 }

.ApplicationProveedores-itemsBox {
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 16px;

}

.ApplicationProveedores-itemsBox .no-data{
	padding: 10px;
	width: 400px;

	text-align: center;
	
	color: red !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;

	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	text-shadow: black 0px 1px 1px;
	margin-left: 15%;
}

.ApplicationProveedores-detallesProveedor{
	
	background-image:url(media/g3.png);	

	color: white;
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	padding: 1em 5%;
	text-align: left;
	text-shadow: black 0px 0px 25px;
	padding-left:15px;
}



.ApplicationProveedores-Detalles{
	
	color : white;
	font-size: 16px;
	background-image: none;	
	margin: 5px;
	height: 32px;
}



.ApplicationProveedores-Detalles .nombre{
	padding: 25px;
	color: white;
	text-shadow: black 0px 0px 25px;
	font-size: 50px ;
	text-align: center;
	border-style : solid;
	border-width:1px;

	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-color: #959a9f;
	
	
	
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}


.ApplicationProveedores-Detalles .direccion{
	margin-top: 15px;
	background:url(media/iconos/mundo.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}


.ApplicationProveedores-Detalles .mail{
	background:url(media/iconos/mail2.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}

.ApplicationProveedores-Detalles .rfc{
	background:url(media/iconos/rfc.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}

.ApplicationProveedores-Detalles .id_provedor{
	background:url(media/iconos/user.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}

.ApplicationProveedores-Detalles .telefono{
	background:url(media/iconos/telefono.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}

.ApplicationProveedores-Detalles .ubicacion{
	background:url(media/iconos/bodega.png) no-repeat;
	padding-left: 40px;
	height: 40px;
}