.ApplicationVender-mainPanel{
	background-image:url(media/g1.png);
	width: 100%;
	height: 100%;

}


.ApplicationVender-itemsBox {
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 16px;

}

.ApplicationVender-item{
	margin: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	width: 100%;
	height: 30px;
	color: #827264;
	text-shadow: white 0px 1px 1px;
	background-image:url(media/g2.png);
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 5px;


}




/* ------------------------------------------------------------------------
	Items del carrito
   ------------------------------------------------------------------------ */
div.id{
	float: left;
	margin-left : 5px;
	font-weight: bold;
	color: black;
	width: 4%;
}

div.name{
	float: left;
	width : 7%;
	margin-left : 5px;
}

div.description{
	float: left;
	width : 77%;
	margin-left : 5px;
	color: black;	
}

div.cost{
	float: left;
	margin-left : 5px;
	text-shadow: black 0px 1px 1px;
	color: black;	
}


div.trash{
	float: left;
	width: 15px;
}







/* ------------------------------------------------------------------------
	Totales del carrito
   ------------------------------------------------------------------------ */
div.ApplicationVender-TotalesBox  {

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	width: 25%;
	margin-left: 70%;
	text-align: right;
	color: black;
	text-shadow: white 0px 1px 1px;
	background-image:url(media/g2.png);
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding : 10px;

}

div.ApplicationVender-Totales{
	
	font-size:17px;
	text-shadow: black 0px 1px 1px;
}


/* ------------------------------------------------------------------------
	Detalles del cliente
   ------------------------------------------------------------------------ */


.ApplicationVender-clienteDetalle{
	

	
}


div.ApplicationVender-clienteBox .nombre{
	font-size: 20px;
	text-shadow: gray 0px 1px 1px;
}

div.ApplicationVender-clienteBox  {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 13px;

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;

	color: black;

	background-image:url(media/g2.png);

}