.ApplicationVender-mainPanel{
	background-image:url(media/g3.png);
	width: 100%;
	height: 100%;

}

.ApplicationVender-ventaListaPanel{
	padding: 5px !important;
	margin : 5px !important;
}

.ApplicationVender-ventaListaPanel .x-form-fieldset-title{
	color: white;
	text-shadow: black 0px 1px 1px;	
}

/* ------------------------------------------------------------------------
	Items del carrito
   ------------------------------------------------------------------------ */
.ApplicationVender-itemsBox {

	font-size: 16px;
	text-shadow: black 0px 1px 1px;


}

.ApplicationVender-item{
	margin: 5px;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-color: #959a9f;
	
	height: 30px;
	color: white;
	
	/*text-shadow: white 0px 1px 1px;*/
	/*background-image:url(media/g2.png);*/
	
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 5px;


}

div.id{
	float: left;
	margin-left : 5px;
	font-weight: bold;
	color: black;
	width: 4%;
}

div.name{
	float: left;
	width : 7%;
	margin-left : 5px;
}

div.description{
	float: left;
	width : 20%;
	margin-left : 5px;
	color: white;	
}

div.cantidad{
	float: left;
	cursor:pointer;
	width: 50px;
	text-align: center;
	margin-left : 5px;
	color: white;	
}
div.qty_dummy{
	float: left;
	margin-left : 5px;
	color: white;
	width: 45px;
	padding-left : 20px;
}
div.qty_change{
	cursor:pointer;
	float: left;
	margin-left : 5px;
	color: white;
	width: 55px;
	padding-left : 25px;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;

	color: white;
	text-shadow: black 0px 1px 1px;
	
	background-image: url(media/dark2.png);
}


div.cost{
	float: left;
	margin-left : 5px;
	width: 10%;
	text-shadow: #98AFC7 1px 1px 4px;
	font-size: 18px;
	color: black;	
}

div.importe{
	float: left;
	margin-left : 75px;

	text-shadow: #98AFC7 1px 1px 4px;
	font-size: 18px;
	color: black;	
}



div.trash{
	float: left;
	width: 15px;
	cursor:pointer;
}


/* ------------------------------------------------------------------------
	Totales del carrito
   ------------------------------------------------------------------------ */
div.ApplicationVender-totalesBox  {
∫
/*	
	background-image: url(media/dark2.png);
	border-style : solid;
	border-width: 1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-width: 0px;
*/

	margin : 5px;

	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	color: white;
	text-shadow: black 0px 1px 1px;

	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 19px;
	padding : 10px;
	text-align: right;
}

div.ApplicationVender-Totales{
	
	font-size:19px;
	text-shadow: black 0px 1px 1px;
}






.gracias{
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: black 0px 1px 1px;
}


/* ------------------------------------------------------------------------
	Detalles del cliente
   ------------------------------------------------------------------------ */


.ApplicationVender-clienteDetalle{

}


div.ApplicationVender-clienteBox .nombre{
	font-size: 20px;
	text-shadow: black 0px 1px 1px;
}




div.ApplicationVender-clienteBox  {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 13px;
	text-shadow: black 0px 1px 1px;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-color: #959a9f;
	
	color: white;


}
