

.ApplicationClientes-addClientDetailsPanel{
	background-image:url(media/g3.png);
	width: 100%;
	height: 100%;	
}

.formAgregarCliente{
	background-image:url(media/g3.png);
	
	height: 100%;


}

.formAgregarCliente-body{
	padding: 10px;
}

 .formAgregarCliente .x-form-fieldset-title{
 
	color: white;
	text-shadow: black 0px 1px 1px;
 }
 
  .formAgregarCliente .x-form-fieldset-instructions{
 
	color: white;
	text-shadow: black 0px 1px 1px;
 }




#comprasProveedorSucursalPanel{
	background-image:url(media/g3.png);
	font-size: 12px;
}

#comprasProveedorCreditoPanel{
	background-image:url(media/g3.png);
	font-size: 12px;
}
/*
.ApplicationClientes-mainPanel{
	background-image:url(media/g3.png);
	width: 100%;
	height: 100%;

}
*/

.ApplicationClientes-itemsBox {
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 12px;

}


.ApplicationClientes-itemsBox .no-data{
	padding: 10px;
	width: 300px;

	text-align: center;
	
	color: red !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;

	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	text-shadow: black 0px 1px 1px;
	
	margin-left: 35%;
	margin-top: 25%;

}


.ApplicationClientes-item{
	margin: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	width: 99%;
	height: 45px;
	color: #827264;
	text-shadow: white 0px 1px 1px;
/*	background-image:url(media/g2.png);*/
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 5px;


}


.AC-Title{
	/*font-size: 1.2em;*/
	font-size: 19px;
	font-weight: bold;
	margin: 12px 0px 6px;
	color: white;
	text-shadow: black 0px 1px 1px;
}


/* ------------------------------------------------------------------------
	Items del carrito
   ------------------------------------------------------------------------ */
.ApplicationClientes-Item{
	overflow: hidden;
	margin: 5px;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-color: #959a9f;
	
	height: 30px;
	color: white;
	
	/*text-shadow: white 0px 1px 1px;*/
	/*background-image:url(media/g2.png);*/
	
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 5px;
	


	
}

.ApplicationClientes-Item .id{
	float: left;
	font-weight: bold;
	margin-left:5px;
	color: black;
	width: 5%;
		overflow: hidden !important;
	height: 15px !important;	
	
	
}

.ApplicationClientes-Item .tipo{
	float: left;
	width : 7%;
	margin-left:5px;
	height: 15px !important;	
		overflow: hidden !important;
}

.ApplicationClientes-Item .fecha{
	float: left;
	text-shadow: black 0px 1px 1px;
	width : 12%;
	color: black;	
	margin-left:5px;	
		height: 15px !important;
			overflow: hidden !important;
}
.ApplicationClientes-Item .iva{
	float: left;
	width : 7%;
	color: black;	
	margin-left:5px;
		height: 15px !important;	
			overflow: hidden !important;
}

.ApplicationClientes-Item .sucursal{
	float: left;
	width : 15%;
	color: black;	
	margin-left:5px;
		height: 15px !important;	
			overflow: hidden !important;
}

.ApplicationClientes-Item .descuento{
	float: left;
	width : 7%;
	text-shadow: black 0px 1px 1px;	
	color: black;	
	margin-left:5px;
		height: 15px !important;	
			overflow: hidden !important;
}

.ApplicationClientes-Item .vendedor{
	float: left;
	width : 13%;
	text-shadow: black 0px 1px 1px;
	color: black;	
	margin-left:5px;
		height: 15px !important;	
			overflow: hidden !important;
}

.ApplicationClientes-Item .subtotal{
	float: left;
	width: 10%;
	color: black;	
		height: 15px !important;
			overflow: hidden !important;
}
.ApplicationClientes-Item .total{
	float: left;
	width: 8%;
	text-shadow: black 0px 1px 1px;
	color: black;	
	height: 25px !important;
}

.ApplicationClientes-Item .pagado{
	float: left;
	width: 9%;
	text-shadow: black 0px 1px 1px;
	color:#093;	
	height: 15px !important;
}

.ApplicationClientes-Item .abonar{
	float: left;
	width: 9%;
	text-shadow: black 0px 1px 1px;
	color:#F00;	
		height: 15px !important;
}
.ApplicationClientes-Item .trash{
	float: left;
	width: 5%px;
	color: black
		height: 15px !important;
}


.cliente-buscar{
	background-image: url(media/search-icon.jpeg) !important;
	background-repeat: no-repeat;
	background-position: 6px 1px;
	padding-left: 35px !important;
}

.cliente-Abonar{
	margin: 15px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 18px;
}

/* ------------------------------------------------------------------------
	Totales del carrito
   ------------------------------------------------------------------------ */

div.ApplicationClientes-TotalesBox  {

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	width: 25%;
	margin-left: 70%;
	text-align: right;
	color: black;
	text-shadow: white 0px 1px 1px;
	background-image:url(media/g2.png);
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding : 10px;

}

div.ApplicationClientes-Totales{
	
	font-size:17px;
	text-shadow: black 0px 1px 1px;
}


/* ------------------------------------------------------------------------
	Detalles del cliente
   ------------------------------------------------------------------------ */

.ApplicationClientes-clienteDetalleForma{
	padding-left: 10px ;
	padding-right: 10px ;
	
}


div.ApplicationClientes-clienteBox .nombre{
	font-size: 20px;
	text-shadow: gray 0px 1px 1px;
}

div.ApplicationClientes-clienteBox  {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 13px;

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;

	color: black;

	background-image:url(media/g2.png);

}
