.ApplicationInventario-mainPanel{
	background-image:url(media/g3.png);
}

.ApplicationInventario-mainPanel .products{
	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 13px;
	text-shadow: black 0px 1px 1px;
	
	
	margin: 5px ;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;
}


.ApplicationInventario-detallesItems{
	padding: 5px !important;
	margin : 5px !important;

}


.ApplicationInventario-detallesItems .x-form-fieldset-title{
	color: white;
	text-shadow: black 0px 1px 1px;	
}


.ApplicationInventario-mainPanel .no-data{
	width: 300px;

	text-align: center;
	
	color: red !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;

	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	text-shadow: black 0px 1px 1px;
	
	margin-left: 35%;
	margin-top: 25%;

}

div.map-no-data {
	background-image:url(media/g3.png);
	width: 200px;


	text-align: center;
	
	color: red !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;

	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	text-shadow: black 0px 1px 1px;
	
	margin-left: 25%;
	margin-top: 25%;
}
