.ApplicationFacturaVentas-itemsBox {
	margin: 5px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 10px;

}


.ApplicationFacturaVentas-itemsBox .no-data{
	padding: 10px;
	width: 300px;

	text-align: center;
	
	color: red !important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f !important;
	border-bottom-color: #959a9f !important;

	color: white !important;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	text-shadow: black 0px 1px 1px;
	
	margin-left: 35%;
	margin-top: 25%;

}




.ApplicationFacturaVentas-Item{
	overflow: hidden;
	margin: 5px;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

	border-style : solid;
	border-width:1px;
	border-right-color: #60656b;
	border-left-color: #61666c;
	border-top-color: #474a4f;
	border-bottom-color: #959a9f;
	
	height: 40px;
	color: white;
	
	text-shadow: white 0px 1px 1px;
	background-image:url(media/g2.png);
	
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding-left : 5px;
	

}

.toggleFactura{
	margin: 0px;
	position:relative;
	float:left;
	width:10%;
	height:100%;	
	font-size:11px;
}


.ApplicationFacturaVentas-Item .id{
	float: left;
	font-weight: bold;
	margin-left:5px;
	color: black;
	width: 5%;
		height:100%;
		overflow: hidden !important;
	line-height: 35px !important;	
	font-size:11px;
	
}

.ApplicationFacturaVentas-Item .tipo{
	float: left;
	width : 7%;
		height:100%;
	margin-left:5px;
	line-height: 35px !important;	
		overflow: hidden !important;
		font-size:11px;
}

.ApplicationFacturaVentas-Item .fecha{
	float: left;
	text-shadow: black 0px 1px 1px;
	width : 12%;
		height:100%;
	color: black;	
	margin-left:5px;	
		line-height: 35px !important;
			overflow: hidden !important;
			font-size:11px;
}
.ApplicationFacturaVentas-Item .iva{
	float: left;
	width : 7%;
		height:100%;
	color: black;	
	margin-left:5px;
		line-height: 35px !important;	
			overflow: hidden !important;
			font-size:11px;
}

.ApplicationFacturaVentas-Item .sucursal{
	float: left;
	width : 15%;
		height:100%;
	color: black;	
	margin-left:5px;
		line-height: 35px !important;	
			overflow: hidden !important;
			font-size:11px;
}

.ApplicationFacturaVentas-Item .descuento{
	float: left;
	width : 7%;
		height:100%;
	text-shadow: black 0px 1px 1px;	
	color: black;	
	margin-left:5px;
		line-height: 35px !important;	
			overflow: hidden !important;
			font-size:11px;
}

.ApplicationFacturaVentas-Item .vendedor{
	float: left;
	width : 13%;
	height:100%;
	text-shadow: black 0px 1px 1px;
	color: black;	
	margin-left:5px;
		line-height: 35px !important;	
			overflow: hidden !important;
			font-size:11px;
}

.ApplicationFacturaVentas-Item .subtotal{
	float: left;
	width: 10%;
		height:100%;
	color: black;	
		line-height: 35px !important;
			overflow: hidden !important;
			font-size:11px;
}
.ApplicationFacturaVentas-Item .total{
	float: left;
	width: 8%;
		height:100%;
	text-shadow: black 0px 1px 1px;
	color: black;	
	line-height: 25px !important;
	font-size:11px;
}

.ApplicationFacturaVentas-Item .pagado{
	float: left;
	width: 9%;
		height:100%;
	text-shadow: black 0px 1px 1px;
	color:#093;	
	line-height: 35px !important;
	font-size:11px;
}

.ApplicationFacturaVentas-Item .abonar{
	float: left;
	width: 10%;
		height:100%;
	text-shadow: black 0px 1px 1px;
	color:#F00;	
	line-height: 35px !important;
	font-size:11px;
}
.ApplicationFacturaVentas-Item .trash{
	float: left;
	width: 5%;
		height:100%;
	color: black
		line-height: 35px !important;
		font-size:11px;
}

