ul.ApplicationCompras {
	-webkit-box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px;
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	background-color: #F2F3F3;
	border-bottom-color: #DED9D4;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #DED9D4;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #DED9D4;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #DED9D4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	display: block;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 16px;
	
}

li.ApplicationCompras{
	
	color: #827264;
	text-shadow: white 0px 1px 1px;
	background-color: #F4F3F1;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 10px;

	border-bottom-color: #DED9D4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	border-top-color: white;
	border-top-left-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	
}


span.id{

	font-weight: bold;
	color: black;
}

span.name{

}

span.description{
	color: green;	
}

span.cost{
	text-align: right;
	color: blue;	
}


span.trash{
	/*background-image: url(sencha/resources/img/toolbaricons/trash.png);*/
	margin-top: 9px;
}



ul.ApplicationCompras-Totales  {
	-webkit-box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px;
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	background-color: #F2F3F3;
	border-bottom-color: #DED9D4;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	border-left-color: #DED9D4;
	border-left-style: solid;
	border-left-width: 1px;
	
	border-right-color: #DED9D4;
	border-right-style: solid;
	border-right-width: 1px;
	
	border-top-color: #DED9D4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	
	margin-left: 75%;
	margin-top: 10px;
	
	display: block;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-size: 12px;
	
}

li.ApplicationCompras-Totales{
	
	color: black;
	text-shadow: white 0px 1px 1px;
	text-align: right;
	background-color: #F4F3F1;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding : 5px;

	border-bottom-color: #DED9D4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	border-top-color: white;
	border-top-left-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	
}