/*
	Login window
*/

	body {
				font-family:QuicksandBook, Helvetica, Arial, sans-serif;
				font-size: 25px;
				text-shadow: white 0px 1px 0px;
				color: #273437;
				background: white url(../www/media/g3.png) repeat;

				padding:0px;
				margin:0px;		
			}
		

	
	.box{


		padding : 50px;
		margin: 25px ;
		width: 350px;
		background-color: #F8F8F8 ;
		font-size: 15px;
		border: 1px solid #E5E5E5;
		text-align: left;


	}
	
	
	.login_content{
		position: relative;
		top: -5em;
		border-bottom-color: #959A9F !important;
		border-bottom-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-style: solid;
		border-width: 1px;
		border-left-color: #61666C;
		border-right-color: #60656B;
		border-top-color: #474A4F !important;
		border-top-left-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		color: white !important;
		color: white !important;
		font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
		margin-left: 35%;
		margin-top: 25%;
		text-align: center;
		text-shadow: black 0px 1px 1px;
		width: 300px;
		border-bottom: 1px solid #EAEAEA;
		border-top: 1px solid white;
	}
	
	
	.login{
		
		color: black;
		padding: 0.8em;
		

	}


	
	
	
	
	
	input[type="text"] {
		-webkit-appearance: searchfield;
		margin : 15px;
	}
		

	input[type="password"] {
		-webkit-appearance: searchfield;
		margin : 15px;
	}
	
	input[type="button"] {
		-webkit-appearance: button;
		margin : 15px;
	}
	
	.title{
		text-align: center;
		font-size:22px; 
	}
	
	#message{
		width: auto;
		height: 10px;
		padding:10px;
		display: none;
		font-size: 15px;
		color: white;
		margin-top: 10%;
	}
	
	#message.success{
		border: 1px solid #00ff00;
		background-color: #bbffbb;
	}
	
	#message.failure{
		/*border: 1px solid #ff0000;*/
		background-color: #ffbbbb;
	}
	
	#message.warning{
		/*border: 1px solid #ffff00;*/
		background-color: #ffffbb;
	}

	.bottom{
	/*
		position: fixed;
		bottom: 0%;
		width: 100%;
		height: 45px;
		/*background: white url(media/shared/grayBottom.png) repeat-x center;*/
		/*
		font-family:QuicksandBook, Helvetica, Arial, sans-serif;
		font-size: 25px;
		text-shadow: white 0px 1px 0px;
		color: #273437;


		*/
	}
